
.title {
    font-size: 25px;
}

.spacer {
    flex: 1 1 auto;
}

.usersTable {
    margin: 2em auto;
    max-width: 80%;
}


.mat-column-username, .mat-column-email, .mat-column-password, .mat-column-type, .mat-column-active, .mat-column-charts {
    flex: 0 0 10%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    
    margin-right: 10px;
}